@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: SUIT-Regular, "Times New Roman", Dotum, "돋움", sans-serif;
  background-color: #d5b4b4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 30px;
  text-align: center;
}

textarea {
  display: block;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  color: white;
  background-color: #867070;
}

button {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f5ebeb;
  margin: auto;
  border: none;
  color: #867070;
}
